# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3
db.sqlite3-journal

# Python virtual environments
venv/
env/
.venv/
.env/

# .env file
.env

# Static files (compiled CSS/JS)
/static/
/staticfiles/

# Node.js dependencies
node_modules/

# Tailwind CSS (compiled files)
/static/css/styles.css

# VSCode settings
.vscode/

# PyCharm settings
.idea/

config.py
