{% extends "blog/base.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
  <div class="container mx-auto px-6 py-8">
    <!-- Кнопка добавления поста -->
    <a href="/add/"
       class="mb-6 inline-block px-6 py-3 rounded-xl text-lg font-semibold bg-gradient-to-r from-blue-600 to-purple-600 text-white shadow-lg hover:from-blue-700 hover:to-purple-700 transition-all duration-300">
      Add Post
    </a>

    <form method="get" action="{% url 'index' %}">
      <input type="text" name="search" placeholder="Поиск по заголовку" value="{{ request.GET.search }}">
      <button type="submit">Поиск</button>
    </form>
  
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-900 dark:text-white">Latest Posts</h1>

    <div id="post-list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    </div>

    <div id="pagination" class="flex gap-3 justify-center mt-8">
    </div>


    <div class="mt-6 text-center">
      <label for="page-size" class="font-medium text-gray-700 dark:text-gray-300">Posts per page:</label>
      <select id="page-size"
              class="mt-2 block mx-auto p-3 rounded-md shadow-md bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
{% endblock %}
